<!DOCTYPE html>
<html>
<head>
	<title>SimpleChat</title>
	<link rel="stylesheet" type="text/css" href="./views/chat.css">
</head>
<body>
	<main>
		<div id="name">
			<img src="./views/a.png">
			<h1>Alex</h1>
		</div>
		<div id="conv">
			<ul>
				<li>msg11111111111111</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg2</li>
				<li>msg1</li>
				<li>msg22222222222222222222222</li>
			</ul>
		</div>
		<div id="send">
			<input type="text" name="message">
		</div>
	</main>
	<aside>
		<ul>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
			<li>Mihai</li>
			<li>Alex</li>
		</ul>
	</aside>
	<script type="text/javascript" src="./views/chat.js"></script>
</body>
</html>